<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
</html>
<body>
    <div class="js-cart">
      <button>1</button>
      <button>2</button>
       <button>3</button>
    </div>
    <section>
      <div class="conteiner-modal">
        <button>X</button>
        <img
          src="https://storage.googleapis.com/du-prd/books/images/9780735211292.jpg"
          alt="book cover"
        />
        <h2>Title</h2>
        <p class="text-author">author</p>
        <p>description</p>
        <ul class="list-marcet buy_list">
          <li class="item-market">
            <a href="http://" class="social-link link">
              <!-- <svg class="icon-market" width="16" height="16"> -->
              <!-- <use href="./images/icons.svg#icon-instagram"></use> -->
              <!-- </svg> -->
            </a>
          </li>
          <li class="item-market">
            <a href="http://" class="social-link link">
              <!-- <svg class="icon-market" width="16" height="16">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg> -->
            </a>
          </li>
        </ul>
        <button type="button" class="btn-modal">add to shopping list</button>
        <button type="button" class="btn-modal">
          remove from the shopping list
        </button>
        <p class="text-author">
          Сongratulations! You have added the book to the shopping list. To
          delete, press the button “Remove from the shopping list”.
        </p>
      </div>
    </section>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./js/trannngs.js"></script>
  </body>
</html>