.section-shopping-list {
    padding-top: 40px;
    padding-bottom: 40px;
}

// .title-shoplist {
    
// }

.empty-list {
    margin-top: 120px;
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 265px;
    text-align: center;
}

.message {
    // color: var(--black-750);
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 14px;
}

.shopping-list {
    margin-top: 40px;
    // display: flex;
    // flex-wrap: wrap;
    // gap: 20px;
}

.shopplist-item {
    position: relative;
display: flex;
    max-width: 335px;
    height: 170px;
    padding: 14px;
    align-items: flex-start;
    gap: 14px;
    border-radius: 16px;
        border: 2px solid rgba(79, 46, 232, 0.40);
}

.delate-btn {
    position: absolute;
    top: 14px;
        right: 14px;
}

.card-shopplist {
    max-width: 193px;
}