
/* LIGHT */

:root {
    --regular: 400;             /*font-weight:  */
    --medium: 500;              /*font-weight:  */
    --bold: 700;                /*font-weight:  */
    --italic: italic;           /*font-style:  */
    --black-900: #111;
    --btn_SighUp:#111;           /*для темної теми*/
    --black-800:#202024;         /*для темної теми*/
    --black-700: rgba(17, 17, 17, 0.60);
    --black-650: rgba(17, 17, 17, 0.50); /* кнопка SIGN IN*/
    --black-600: rgba(246, 246, 246, 0.50);  /*для темної теми*/
    --black-500: #B4AFAF;
    --black-400: #F6F6F6; 
    --white-200: #F3F3F3;;
    --white-100: #FFFFFF;
    --shopListAdd: #FFFFFF;                      /*для темної теми*/
    --blue-900:rgba(79, 46, 232, 0.4);
    --blue: #4F2EE8;
    --yellow: #EAC645;
    --switcher: url(../images/switcher_light.png);
}
                /* DARK */
                
:root[data-theme ='dark']{
    --black-400: var(--black-800);
    --black-900: var(--white-100);
    --black-650: var(--black-600);
    --white-100: var(--black-900);
    --shopListAdd: var(--black-800);
    --btn_SighUp: var(--black-400);
    --switcher: url(../images/switcher_dark.png);
}

.category_text {                /*  стилі для списку категорій (All categories,Combined Print and E-book Fiction...)*/
    color: var(--black-700);
    font-size: 16px;
    font-weight: var(--regular);
    line-height: 1.3;
            letter-spacing: -0.32px;
    @include tablet {
        font-size: 18px;
        letter-spacing: -0.36px;
    }
}

.title {                       /*  стилі для заголовків на сторінці таких як Hardcover Fiction, Best Sellers Books... */
    font-size: 32px;
    line-height: 1.18;
    letter-spacing: -1.28px;
    @include tablet{
        font-size: 48px;
        line-height: 1.08;
        letter-spacing: -1.92px;
    }
}

.text_card_title {                  /* назва книжок (I will find you,HELLO BEAUTIFUL,IT STARTS WITH US...)*/
    font-size: 16px;
    letter-spacing: -0.64px;
    text-transform: uppercase;
}

.text_card_author {                 /*автор книги Ann Napolitano, Harlan Coben...*/
    color: var(--black-500);
    font-size: 12px;
    font-style: var(--italic);
    font-weight: var(--regular);
    line-height: 1.1;
    letter-spacing: -0.48px;
}

.category_title {                /*категорії кножок (COMBINED PRINT & E-BOOK NONFICTION...)*/
    color: var(--black-500);
    font-weight: var(--regular);
    line-height: 1.7;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.header_authorization {            /* ім'я користувача який авторизується (Stephen)*/
    color: var(--white-100);
    font-size: 22px;
    font-weight: var(--bold);
    letter-spacing: -0.44px;
}

.modal_signIn{                          /* кнопка на вікні авторизації (sIGN In)*/
    font-size: 18px;
    font-weight: var(--bold);
    line-height: 1.3;
    letter-spacing: -0.18px;
    text-transform: uppercase;
}
