
/* LIGHT */

:root {
    --regular: 400;             /*font-weight:  */
    --medium: 500;              /*font-weight:  */
    --bold: 700;                /*font-weight:  */
    --italic: italic;           /*font-style:  */
    --black-900: #111;
    --btn_SighUp:#111;           /*для темної теми*/
    --black-800:#202024;         /*для темної теми*/
    --black-700: rgba(17, 17, 17, 0.60);
    --black-650: rgba(17, 17, 17, 0.50); /* кнопка SIGN IN*/
    --black-600: rgba(246, 246, 246, 0.50);  /*для темної теми*/
    --black-500: #B4AFAF;
    --black-400: #F6F6F6; 
    --white-200: #F3F3F3;;
    --white-100: #FFFFFF;
    --shopListAdd: #FFFFFF;                      /*для темної теми*/
    --blue-900:rgba(79, 46, 232, 0.4);
    --blue: #4F2EE8;
    --yellow: #EAC645;
    // --switcher: url(../images/switcher_light.png);
}
                /* DARK */
                
:root[data-theme='dark']{
    --black-400: #202024;
    --black-900: #FFFFFF;
    --black-650: rgba(246, 246, 246, 0.50);
    --white-100:#111;
    --shopListAdd:#202024;
    --btn_SighUp: #F6F6F6;
    // --switcher: url(../images/switcher_dark.png);
}

