/* LIGHT */

:root {
  --regular: 400; /*font-weight:  */
  --medium: 500; /*font-weight:  */
  --bold: 700; /*font-weight:  */
  --italic: italic; /*font-style:  */
  --black-900: #111;
  --btn_SighUp: #111; /*для темної теми*/
  --black-800: #202024; /*для темної теми*/
  --black-750: rgba(0, 0, 0, 0.6);
  --black-700: rgba(17, 17, 17, 0.6);
  --black-650: rgba(17, 17, 17, 0.5); /* кнопка SIGN IN*/
  --black-600: rgba(246, 246, 246, 0.5); /*для темної теми*/
  --black-500: #b4afaf;
  --black-400: #f6f6f6;
  --white-200: #f3f3f3;
  --white-100: #ffffff;
  --shopListAdd: #ffffff; /*для темної теми*/
  --blue-900: rgba(79, 46, 232, 0.4);
  --blue: #4f2ee8;
  --yellow: #eac645;
}
/* DARK */

:root[data-theme='dark'] {
  --black-900: #ffffff;
  --black-750: rgba(255, 255, 255, 0.6);
  --black-650: rgba(246, 246, 246, 0.5);
  --black-400: #202024;
  --white-100: #111;
  --shopListAdd: #202024;
  --btn_SighUp: #f6f6f6;
}
