<div class="container selected-category__list">
  <h1 class="title">Best Sellers <span class="title--accent">Books</span></h1>
  <ul class="best-sellers">
    <li></li>
  </ul>
</div>

<!-- <ul class="best-sellers">
  <li>
    <p class="category-title"></p>
    <ul class="best-sellers__by-category">
      <li class="best-sellers-book__by-category" data-book-id="">
        <img class="best-sellers-book__img" src="" alt="" />
        <p class="best-sellers-book__title"></p>
        <p class="best-sellers-book__author"></p>
      </li>
      <li class="best-sellers-book__by-category" data-book-id="">
        <img class="best-sellers-book__img" src="" alt="" />
        <p class="best-sellers-book__title"></p>
        <p class="best-sellers-book__author"></p>
      </li>
      <li class="best-sellers-book__by-category" data-book-id="">
        <img class="best-sellers-book__img" src="" alt="" />
        <p class="best-sellers-book__title"></p>
        <p class="best-sellers-book__author"></p>
      </li>
    </ul>
    <button type="button">see more</button>
  </li>
  <li></li>
</ul> -->
