<footer class="footer">  
    <div class="footer__container">        
        <a class="footer__logo" href="./index.html">
            <svg class="logo__icon" width="24" height="24">
            <use href="images/sprite.svg#icon-logo"></use>
            </svg>
            <p class="footer__logo-title">Bookshelf</p>
        </a>      
        <p class="footer__text">© 2023 - Bookshelf. All Rights Reserved </p>
        <!-- <nav class="menu">
            <ul class="menu__list" id="menu__list">
            <li class="menu__item">
                <a class="menu__link menu__link--current" href="./index.html">Home</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="./shopping-list.html">Shopping
                <svg class width="20" height="20">
                    <use href="images/sprite.svg#icon-cart"></use>
                </svg>
                </a>
            </li>
            </ul>
        </nav> -->
        <a class="team__logo" href="#">
            <svg class="team__logo-icon" width="24" height="24">
                <use href="images/sprite.svg#icon-7up"></use>
            </svg>
        </a>                      
    </div>     
</footer>
