<footer>
  <div class="container container-shoplist">
    <div class="footer_content">
      <div class="footer_navigation">
        <div class="footer_team_logo">
          <img
            src="./images/7up.png"
            alt="team_logo"
            width="100"
            height="100"
          />
        </div>
        <nav class="menu">
          <ul class="menu__list" id="menu__list">
            <li class="menu__item">
              <a class="menu__link" href="index.html">Home</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="shopping-list.html"
                >Shopping list
                <svg class="shop" width="20" height="20">
                  <use href="images/sprite.svg#icon-cart"></use>
                </svg>
              </a>
            </li>
          </ul>
          <div class="menu__substrate"></div>
        </nav>
      </div>
      <ul class="social">
        <li class="social_item">
          <a href="#" class="social_link">
            <svg class="social_logo" width="24" height="24">
              <use href="images/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li class="social_item">
          <a href="#" class="social_link">
            <svg class="social_logo" width="24" height="24">
              <use href="images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social_item">
          <a href="#" class="social_link">
            <svg class="social_logo" width="24" height="24">
              <use href="images/sprite.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
