<footer>
  <div class="container container-shoplist">
    <div class="footer_content">
      <div class="footer_navigation">
        <div class="footer_team_logo">
          <img
            src="./images/7up.png"
            alt="team_logo"
            width="100"
            height="100"
          />
        </div>
        <p class="footer__text">© 2023 - Bookshelf. All Rights Reserved</p>
      </div>
      <ul class="social">
        <li class="social_item">
          <a href="#" class="social_link">
            <svg class="social_logo" width="30" height="30">
              <use href="images/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li class="social_item">
          <a href="#" class="social_link">
            <svg class="social_logo" width="30" height="30">
              <use href="images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social_item">
          <a href="#" class="social_link">
            <svg class="social_logo" width="30" height="30">
              <use href="images/sprite.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
