<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shopping List</title>
  </head>
  <body>
    <!-- Header
    <include src="./partials/header.html"></include> -->
    <main>
      <h1>Shop List</h1>
      <!-- Support Ukraine -->
      <!-- <include src="./partials/support-ukraine.html"></include> -->

      <!-- My Shopping List  -->
      <include src="./partials/my-shopping-list.html"></include>
    </main>
    <!-- Footer  -->
    <include src=""></include>
    <script type="module" src="../js/shopping-list.js"></script>
    <script type="module" src="../js/markup-shopping-list.js"></script>
    <script type="module" src="../js/onClickDelateBtn.js"></script>
  </body>
</html>
