<!-- Header Support Ukraine -->
<div class="container donate-container">
  <div class="donate-header">
    <span class="donate-paragraph">Support Ukraine</span>
    <svg class="donate-emblem">
      <use href="./images/icon.svg#emblem" width="20" height="32"></use>
    </svg>
  </div>
  <div class="donate-funds-visible">
    <ul class="donate-funds-list" id="donateFundsList"></ul>
  </div>

  <!-- Button down -->
  <div class="donate-block-arrow">
    <button class="donate-button">
      <svg class="donate-arrow">
        <use
          class="use-donate"
          href="./images/icon.svg#icon-arrow_down_donate"
        ></use>
      </svg>
    </button>
  </div>
  <!-- !Button down!  -->

  <!-- Button up -->
  <div class="donate-block-arrow">
    <button class="donate-button-up">
      <svg class="donate-arrow-up">
        <use
          class="use-donate"
          href="./images/icon.svg#icon-arrow_down_donate"
        ></use>
      </svg>
    </button>
  </div>
  <!-- !Button up!  -->
</div>
