.header {
  position: fixed;
  background: #ffffff;
  border-radius: 0px 0px 8px 8px;
  border-style: solid;
  border-color: #111111;
  border-width: 1.5px;
  width: 100%;

  &__content {
    display: flex;
    padding: 12px 24px;
    align-items: center;
    justify-content: space-between;
  }
}

.header__logo {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-right: 76px;

  @media (width <= 736px) {
    z-index: 1;
  }
}

.menu__list {
  display: flex;
  gap: 24px;
  align-items: center;

  @media (width <= 736px) {
    display: none;
  }

  &.is-open {
    @media (width <= 736px) {
      display: flex;
      position: fixed;
      // top: 62px;
      left: 50%;
      transform: translate(-50%, 0);
      padding: 0;
      background: linear-gradient(#4f2ee8, #dcdcdc);
      width: 100%;
      height: 100%;
    }
  }
}

.menu__link {
  display: flex;
  gap: 4px;
  align-items: center;
  text-transform: uppercase;

  &:is(:hover, :focus) {
    color: #4f2ee8;
    fill: #4f2ee8;
  }

  @media (width <= 736px) {
    color: #fff;
    fill: #fff;

    &:is(:hover, :focus) {
      color: #111;
      fill: #111;
    }
  }

  &--current {
    background: #eac645;
    border-radius: 36px;
    padding: 8px 16px 8px 16px;

    @media (width <= 736px) {
      color: #111;

      &:is(:hover, :focus) {
        color: #4f2ee8;
        fill: #4f2ee8;
      }
    }
  }
}

.login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 14px;
  width: 184px;
  border-radius: 18px;
  border: 1.5px solid #111;
  background: #4f2ee8;
  margin-left: 24px;

  @media (width < 736px) {
    display: none;
  }

  &__title {
    color: #fff;
    font-size: 14px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.56px;
  }

  &.is-open {
    @media (width <= 736px) {
      display: flex;
      position: absolute;
      top: 64px;
      left: 0;
      margin: 20px;
    }
  }
}

.menu__btn {
  display: flex;
  background-color: transparent;
  padding: 0;
  margin-left: 14px;

  @media (width > 736px) {
    display: none;
  }
}

@media (width <= 736px) {
  .menu__icon {
    display: block;
    stroke: #111111;
  }

  .menu__icon:hover {
    stroke: #4f2ee8;
  }

  .menu__icon-menu,
  .is-open .menu__icon-cross {
    display: block;
  }

  .menu__icon-cross,
  .is-open .menu__icon-menu {
    display: none;
  }
}