.header {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--white-100);
  border-radius: 0px 0px 8px 8px;
  border-style: solid;
  border-color: var(--black-900);
  border-width: 1.5px;
  width: 100%;

  @media (width >= 1440px) {
    width: 1392;
  }

  &__content {
    display: flex;
    padding: 18px 20px;
    align-items: center;
    justify-content: space-between;

    @media (width >= 768px) {
      padding: 14px 32px;
    }

    @media (width >= 1440px) {
      padding: 14px 24px;
    }
  }
}

.header__logo {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-right: 76px;

  @media (width <= 768px) {
    z-index: 1;
  }
}

.logo__title {
  color: var(--black-900);
  font-size: 16px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: var(--bold);
  line-height: 18px;
  letter-spacing: -0.56px;
}

.menu__list {
  display: flex;
  gap: 24px;
  align-items: center;
  z-index: 1;

  @media (width <= 768px) {
    display: none;

    &.is-open {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: fixed;
      top: 248px;
      left: 50%;
      transform: translate(-50%, 0);
      padding: 0;
      z-index: 2;
    }
  }
}

.menu__link {
  display: flex;
  gap: 4px;
  align-items: center;
  text-transform: uppercase;
  color: var(--black-900);
  fill: var(--black-900);
  font-size: 14px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: var(--medium);
  line-height: 18px;
  letter-spacing: -0.56px;
  transition: all $cubic;

  &:hover,
  &:focus {
    color: var(--blue);
    fill: var(--blue);
  }

  @media (width <= 768px) {
    color: var(--white-100);
    fill: var(--white-100);
    transition: all $cubic;

    &:hover,
    &:focus {
      color: var(--black-900);
      fill: var(--black-900);
    }
  }

  &--current {
    font-weight: var(--bold);
    background: var(--yellow);
    color: var(--link-current);
    border-radius: 36px;
    padding: 8px 16px 8px 16px;

    @media (width <= 768px) {
      color: var(--link-current);
      transition: all $cubic;

      &:hover,
      &:focus {
        color: var(--blue);
        fill: var(--blue);
      }
    }
  }
}

.login-btn {
  display: block;
  align-items: center;
  padding: 10px 14px;
  width: 184px;
  border: 2px solid var(--black-900);
  border-radius: 36px;
  background: var(--blue);
  margin-left: 24px;
  transition: all $cubic;
  z-index: 1;


  @media (width <= 768px) {
    display: none;
    position: fixed;
    top: 84px;
    left: 20px;
    margin: 0;

    &.is-open {
      display: block;
      cursor: pointer;
    }
  }

  @media (width > 768px) {
        &:hover,
    &:focus {
      background-color: var(--white-100);
    }

    &:hover .login-btn__title,
    &:focus .login-btn__title {
      color: var(--black-900);
    }
    }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--swicher);
    font-size: 14px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: var(--medium);
    line-height: 18px;
    letter-spacing: -0.56px;
    transition: all $cubic;
  }
}

.logout-btn {
  display: none;
  align-items: center;
  padding: 10px 14px;
  width: 184px;
  border-radius: 36px;
  background-color: var(--white-100);
  border: 2px solid var(--black-900);
  margin-left: 24px;
  transition: all $cubic;
  z-index: 1;

  &:hover,
  &:focus {
    background-color: var(--blue);
  }

  &:hover .logout-btn__title,
  &:focus .logout-btn__title {
    color: var(--white-100);
  }

  @media (width <= 768px) {
    position: fixed;
    bottom: 20px;
    left: 20px;
    margin: 0;
    background-color: var(--white-100);
    display: block;
  }

  @media (width >= 768px) {
    position: absolute;
    right: 32px;
    top: 60px;

    &.is-open {
      display: block;
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--black-900);
    font-size: 14px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: var(--medium);
    line-height: 18px;
    letter-spacing: -0.56px;
    transition: all $cubic;
  }
}
