.switch {
  display: flex;
  margin-left: auto;
  & input[type='checkbox'] {
    position: relative;
    width: 40px;
    height: 20px;
    outline: none;
    background-color: var(--blue);
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
  }

  & input[type='checkbox'] {
    position: relative;
    width: 40px;
    height: 20px;
    outline: none;
    background: linear-gradient(var(--blue), var(--black-400));
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    appearance: none;
    -webkit-appearance: none;
  }

  & input:checked[type='checkbox'] {
    background: linear-gradient(var(--blue), var(--black-700));
  }

  & input[type='checkbox']:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 20px;
    top: 2;
    left: 2;
    background: var(--white-100);
    transition: 0.5s;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  & input:checked[type='checkbox']:before {
    left: 22px;
  }
}
