.footer {
  padding-bottom: 20px;
}

.footer__container {
  border-top: 1.5px solid var(--black-900);
  display: flex;
  padding: 18px 20px;
  align-items: center;
  justify-content: space-between;

  @media (width >= 768px) {
    padding: 14px 32px;
  }

  @media (width >= 1440px) {
    padding: 14px 24px;
  }
}

.footer__logo {
  display: flex;
  gap: 8px;
  align-items: center;

  @media (width <= 768px) {
    z-index: 1;
  }
}

.footer__logo-title {
  color: #111;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.13;
  letter-spacing: -0.56px;
}

.footer__text {
  display: none;

  @media (width >= 768px) {
    display: block;
    color: #111;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.13;
    letter-spacing: -0.56px;
  }
}
